@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
body {
  background-color: #fffaf0;
  color: #003DA5;
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive; }
